{% extends "base.html" %}
{% block content %}
<div class="form-div">
<form method="post" enctype="multipart/form-data">
    <table class="form-table">
        {{ form.hidden_tag() }}
        {% for field in form %}
            	<tr>
                	<td>
                    	{% if field.widget.input_type != 'hidden' %}
                        	{{ field.label }}
                    	{% endif %}
                	</td>
                	<td>
				{{ field }}
                	</td>
            	</tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <input type=submit title="Alterar" value="Alterar Mapeamento" />
            </td>
        </tr>
    </table>
</form>
</div>
{% endblock %}
